html{
  font-family: "Georgia",serif;
  font-style: italic;
}
/* ==========================================================================
   En Construccion
   ========================================================================== */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

.logo{
  position:relative;
  width:400px;
  left: 50%;
  margin-left: -200px;
}

.purple_circle{
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px; 
  background-color: #292B64;
  color:#FFF;
  left:50%;
  margin-left: -150px;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
}

.purple_circle img{
  width:300px;
  position: absolute;
  margin-left: -150px;
  top: 90px;
}

.purple_circle .hero{
  padding: 95px 25px 0px;
  font-size: 0.85em;
}

.purple_circle .hero_2{
  padding: 25px 25px 0px;
  font-size: 0.85em;
}

.botellas{
  position:absolute;
  width:60%;
  bottom:0;
  left: 50%;
  margin-left: -30%;
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar {
  min-height:50px;
}

.navbar-default {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li {
    position: relative
}
.navbar-nav > li:before,
.navbar-nav > li:last-child:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-top: -1px;
    right: -3px;
    z-index: 1;
    border-radius: 6px;
}
.navbar-nav > li:before {
    right: auto;
    left: -3px;
}

.navbar-collapse ul li a {
    font-family: "Georgia",serif;
    font-style: italic;
    border: 3px solid transparent;
    color: #393D41;
    padding: 9px 15px;
    font-size: 1em;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a{
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:focus{
  background-color: transparent;
}

/* ==========================================================================
   Inicio
   ========================================================================== */

#section0{
  background: url(/img/marcopag1.svg) no-repeat 0px 0px fixed; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

}

.inicio-hero{
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
  text-align: center;
  padding:75px 0px 25px;
  margin: 0px;
}

.inicio-botellas{
  position:relative;
  top: -120px;
  z-index: -1;
}

/* ==========================================================================
   Catalogo
   ========================================================================== */
.marcopag2{
  position: absolute;
  height: 110%;
  width: 100%;
  top: 0;
  z-index: -1;
}

#section1 h1{
  text-align: center;
  padding:50px 25% 20px 0;
  font-size: 50px;
  color:#404C72;
}

#section1 p{
  text-align: center;
  padding-right:25%;
  color: #404C72;
}

#section1 p a{
  color: #404C72;
}

/* ==========================================================================
   Historia
   ========================================================================== */
.historia{
  margin-top: 80px;
  height: 100%;
}
.historia img{
  position:absolute;
  z-index: -1;
}

.libro{
  margin-left: 12.333%;

}

.libro h4 {
  margin-top: 125px;
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
}

.libro p {
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
  text-align: justify;
  padding: 5px 0 0px;
  font-size: 0.75em;
}

/* ==========================================================================
   Laboratorio
   ========================================================================== */

.laboratorio {
  background-color: #EBECE9;
  height: 100% !important;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .logo{
  width:300px;
  margin-left: -150px;
}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px)and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}