html{
  font-family: "Georgia",serif;
  font-style: italic;
}
/* ==========================================================================
   En Construccion
   ========================================================================== */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 101%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

.logo{
  position:relative;
  width:400px;
  left: 50%;
  margin-left: -200px;
}

.purple_circle{
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px; 
  background-color: #292B64;
  color:#FFF;
  left:50%;
  margin-left: -150px;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
}

.purple_circle img{
  width:300px;
  position: absolute;
  margin-left: -150px;
  top: 90px;
}

.purple_circle .hero{
  padding: 95px 25px 0px;
  font-size: 0.85em;
}

.purple_circle .hero_2{
  padding: 25px 25px 0px;
  font-size: 0.85em;
}

.botellas{
  position:absolute;
  width:60%;
  bottom:0;
  left: 50%;
  margin-left: -30%;
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar {
  min-height:50px;
}

.navbar-default {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li {
    position: relative
}
.navbar-nav > li:before,
.navbar-nav > li:last-child:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-top: -1px;
    right: -3px;
    z-index: 1;
    border-radius: 6px;
}
.navbar-nav > li:before {
    right: auto;
    left: -3px;
}

.navbar-collapse ul li a {
    font-family: "Georgia",serif;
    font-style: italic;
    border: 3px solid transparent;
    color: #393D41;
    padding: 9px 15px;
    font-size: 1em;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a{
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:focus{
  background-color: transparent;
}

/* ==========================================================================
   Inicio
   ========================================================================== */

#section0{
  background: url(/img/marcopag1.svg) no-repeat 0px 0px fixed; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

}

.inicio-hero{
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
  text-align: center;
  padding:75px 0px 25px;
  margin: 0px;
}

.inicio-botellas{
  position:relative;
  top: -120px;
  z-index: -1;
}

/* ==========================================================================
   Catalogo
   ========================================================================== */
.marcopag2{
  position: absolute;
  height: 110%;
  width: 100%;
  top: 0;
  z-index: 0;
}

#section1{
  background-image: url(/img/section1.png);
  background-size: 100% auto;
  height: 100% !important; 
}

#section2{

  height: 100% !important; 
}

#section3{

  height: 100% !important; 
}


#section0{
 
  height: 100% !important; 
}

#section1 h1{
  text-align: center;
  font-size: 45px;
  color:#404C72;
  letter-spacing: 5px; 
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
}

.c1catalogo{
  background-image: url(/img/marcopag2.svg);
  height: 100%; 
  background-size: 100% 109%; 
}

.hero{
  padding:  3.5% 7% 0px 0px;
  margin-top: 15.5%;
}

#section1 p{
  text-align: center;
  padding-right:5%;
  color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
}

#section1 p a{
  color: #404C72;
}

/* ==========================================================================
   Historia
   ========================================================================== */
.historia{
  margin-top: 140px;
  height: 100%;
 

}
.historia img{
  position: absolute;
  width: 90%;
  left: 3%; 
  display: block;
  margin: auto;
  z-index: -1;
}

.libro{
  margin-left: 12.333%;

}

.libro h4 {
  margin-top: 125px;
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
}

.libro p {
  color: #FFF;
  font-family: "Georgia",serif;
  font-style: italic;
  text-align: justify;
  padding: 5px 0 0px;
  font-size: 0.75em;
}

.fp-controlArrow.fp-prev {
left: 20px;
width: 0;
border-width: 38.5px 34px 38.5px 0;
border-color: transparent #fff transparent transparent;
opacity: 0.2;
transition: all 0.9s;
}

.fp-controlArrow.fp-next {
right: 20px;
border-width: 38.5px 0 38.5px 34px;
border-color: transparent transparent transparent #fff;
opacity: 0.2;
transition: all 0.9s;
}

.fp-controlArrow:hover{

  opacity: 1; 

}


/* ==========================================================================
   Laboratorio
   ========================================================================== */

.laboratorio {
  background-color: #EBECE9;
  height: 100% !important;
}

.c1_lab{
  height: 100%;
  padding: 2.5% 0%; 

}

.c2_lab{
    padding: 12% 6%; 
    height: 100%; 
  

}


.c2_lab h2{

  color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px;
  border:solid 1px #404C72;
  width: 70%;
  margin-left: 15%; 
  height: 48px;
  padding: 1%
}

.c2_lab p{
  text-align: justify;
  color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  letter-spacing: 0px;
  margin-top: 5%; 
}




.gallery_button{
   color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px;
  padding: 2% 1% ; 
  margin-top: 10%; 


  border-top: solid 1px #404C72;
  border-bottom: solid 1px #404C72;
  transition: all 0.4s; 
}


.gallery_button:hover{

}

.c1_lab img{
  float: left;
  width: 270px; 
}

.c1_lab img{
 margin-top: 4%; 
}


#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}



/* ==========================================================================
 Ingresdientes
   ========================================================================== */

.line_ingre{
  margin-top: 3%;
  padding:0% 4%;  
}




/* ==========================================================================
Contacto
   ========================================================================== */

.contacto h1{
  color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px;
  border:solid 1px #404C72;
  width: 30%;
  margin-left: 35%; 
  height: 48px;
  padding: 0%;
  margin-top:5%;
}

.contacto p{
 text-align: center;
  color: #404C72;
  font-family: "Georgia", serif;
  font-style: italic;
  letter-spacing: 0px;
  margin-top: 5%; 
}

#section5{
    height: 100% !important; 
    background-color: #EBEBE9;
}
.contact_form{
  margin-top: 2%; 
}

.fieldButton{
  background-color: #222A87; 
  color: #fff !important; 
  font-family: "Georgia", serif;
  font-style: italic;
  letter-spacing: 2px; 
  padding: 2% 10%; 
  border:solid 0px !important;

}
.fieldContact{
  width: 100%;
  border: solid 0px !important;
  padding: 3% 5%; 
  color: #fff !important; 
  font-family: "Georgia", serif;
  font-style: italic;
  letter-spacing: 0px; 
  background-color: #8E85B6 !important; 
font-weight: 900; 
}


.fieldContact:focus{
  color: #fff !important;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .logo{
  width:300px;
  margin-left: -150px;
}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px)and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}